[submodule "Carthage/Checkouts/react-native"]
	path = Carthage/Checkouts/react-native
	url = ssh://git@github.com/expo/react-native.git
[submodule "Carthage/Checkouts/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = ssh://git@github.com/doozMen/Nimble.git
[submodule "Carthage/Checkouts/CupertinoJWT"]
	path = Carthage/Checkouts/CupertinoJWT
	url = ssh://git@github.com/Bolides/CupertinoJWT.git
[submodule "Carthage/Checkouts/highway"]
	path = Carthage/Checkouts/highway
	url = ssh://git@github.com/Bolides/highway.git
[submodule "Carthage/Checkouts/Quick"]
	path = Carthage/Checkouts/Quick
	url = ssh://git@github.com/doozMen/Quick.git
[submodule "Carthage/Checkouts/ZFile"]
	path = Carthage/Checkouts/ZFile
	url = ssh://git@github.com/Bolides/ZFile.git
[submodule "Carthage/Checkouts/Sourcery"]
	path = Carthage/Checkouts/Sourcery
	url = ssh://git@github.com/doozMen/Sourcery.git
[submodule "Carthage/Checkouts/template-sourcery"]
	path = Carthage/Checkouts/template-sourcery
	url = ssh://git@github.com/doozMen/template-sourcery.git
[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = ssh://git@github.com/antitypical/Result.git
[submodule "Carthage/Checkouts/SwiftFormat"]
	path = Carthage/Checkouts/SwiftFormat
	url = ssh://git@github.com/nicklockwood/SwiftFormat.git
