.DS_Store

xcuserdata
*.xcuserdatad

/android/build
/android/.gradle
/android/.gradle/4.10.1
/android/.idea
*.build*

/.swiftformat.md

/Sources/.sourcery-RNConfigurationHighwaySetup.yml
/Sources/.sourcery-RNConfigurationPrepare.yml
/Sources/.sourcery-RNModels.yml
/RNConfigurationHighwaySetup.xcodeproj
