.DS_Store

xcuserdata
*.xcuserdatad
/Carthage
/android/build
/android/.gradle
/android/.gradle/4.10.1
/android/.idea
/ios/.build
/.gitmodules
/.build/Build/Intermediates.noindex
/.build/ModuleCache.noindex
/.build
