BE_BOLIDES_BASE_URL = https:\/\/staging.armada.bolides.be
BE_BOLIDES_EXPO_RELEASE_CHANNEL = staging-bolides
BE_BOLIDES_EXPO_RELEASE_MANIFEST_URL = https:\/\/exp.host/@bart2050/Bolides?release-channel=staging-bolides
BE_BOLIDES_ITSME_SECURE_KEY = TEST RELEASE: some key to get stuff for secure storage
ONESIGNAL_APP_ID = cad3f497-898e-4e73-9bfd-442974a2ad59