<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BE_BOLIDES_RELEASE_CHANNEL</key>
	<string>staging-bolides</string>
	<key>BE_BOLIDES_RELEASE_MANIFEST_URL</key>
	<string>https:\/\/exp.host/@bart2050/Bolides?release-channel=staging-bolides</string>
	<key>BE_BOLIDES_SHOULD_OVERRIDE_MANIFEST_URL</key>
	<string></string>
	<key>BOLIDES_BASE_URL</key>
	<string>https:\/\/staging.armada.bolides.be</string>
	<key>BOLIDES_ITSME_SECURE_KEY</key>
	<string>DEBUG: some key to get stuff for secure storage</string>
	<key>BuildMachineOSBuild</key>
	<string>18D109</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ReactNativeConfigSwift</string>
	<key>CFBundleIdentifier</key>
	<string>com.react.ReactNativeConfig-macOS</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ReactNativeConfigSwift</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10B61</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18B71</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1010</string>
	<key>DTXcodeBuild</key>
	<string>10B61</string>
	<key>ONESIGNAL_APP_ID</key>
	<string>cad3f497-898e-4e73-9bfd-442974a2ad59</string>
</dict>
</plist>
